{% extends "rest_framework/base.html" %}
{% block branding %}
  <a class='navbar-brand' rel="nofollow" href='/api/'>
    Kabisa Quotes <span class="version">{{ kabisa.version }}</span>
  </a>
{% endblock %}
